body {
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #1e293b;
  padding: 20px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

input, select, button {
  padding: 7px;
  border-radius: 5px;
  border: none;
}

input, select {
  flex: 1;
}

button {
  background-color: #38bdf8;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #334155;
  margin-top: 6px;
  padding: 8px;
  border-radius: 5px;
}
